.container {
    max-width: 1000px;  /* Establece un ancho máximo */
    margin-left: auto;   /* Centra el contenedor horizontalmente */
    margin-right: auto;  /* Centra el contenedor horizontalmente */
}
